.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana;
    font-size: 16px;
    font-style: normal;
    
    
}

.viewscore{
    cursor: pointer;
}


.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #218380;
    margin: 0px;
    padding: 2px;
    color: #fff;
}

.start_card{
    display: block;
    box-shadow: 5px 5px 5px lightgrey ;
    width: auto;
    height:auto;
    border-radius: 10px;
    padding: 25px;
    border: 1.5px solid grey;
    float: none;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;


}


.quiz, .final_score, .high_scores{
    display: none;
}
/* 
.high_scores{
    display: block;
} */

.option{
    background-color: #218380;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.initials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

button{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color:#218380;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .start_card{
      width: 80%;
  }
}